@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

:root {
  --main-font: "Outfit", sans-serif;
  --fondo-bg-color: #f6f8fc;
  --card-bg-color: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  font-family: var(--main-font);
}

/* Scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 80px;
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 39, 39);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

/* Contenedor Padre */
.parent-container {
  background-color: var(--fondo-bg-color);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.parent-header{
  background-color: #fb6c6c;
}

.header{
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  margin-bottom: 2rem;  
}

.header h1{
  color: #fff;
  font-weight: 800;  
}

.header a i{
  font-size: 3.5rem;
  color: #fff;
  transition: all .3s ease-in-out;
}

.header a:hover i{
  color: #000;
}

@media screen and (max-width: 1000px) {
  .header{
    padding: 1.2rem 1rem;
    margin-bottom: 0;
  }

  .header a i{
    font-size: 3rem;
  }
}

main {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 2rem;
}

h1 {
  font-size: 3rem;
}

@media screen and (max-width: 1000px) {
  .aside {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
  }
}

/* Input */
.input-container {
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
  margin: 2rem 0 5rem;
  overflow: hidden;
}

.input-container input:focus-visible {
  outline: none;
}

.input-container input {
  padding: 0 0.8rem;
  border: none;
  flex: 1;
  font-size: 1.7rem;
}

/* Icon */
.icon-search {
  background-color: red;
  padding: 5px;
  /* border-radius: 1rem; */
}

/* Lista de pokemon */
.pokemon-list {  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .pokemon-list {
    justify-content: center;
  }
}

/* card pokemon */
.card-pokemon {
  width: 210px;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
}

.container-info-pokeball{
  display: flex;  
}

.card-pokemon .container-info-pokeball .pokeball{
  width: 100%;
  height: 10rem;
  position: relative;  
}

.card-pokemon .container-info-pokeball .pokeball img {
  position: absolute;
  top: 0;
  right: 0;
  width: 9.5rem;
  height: 10rem;
  opacity: 0.1;
}

.card-pokemon .image-pokemon {
  position: absolute;
  top: 50%;
  right: 1rem;
  bottom: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.card-pokemon:hover .image-pokemon {
  position: absolute;
  top: 50%;
  right: 1rem;
  bottom: 50%;
  transform: translateY(-50%) scale(1.2);
  image-rendering: pixelated;
}

@media screen and (max-width: 1000px) {
  .card-pokemon {
    width: 300px;
  }

  .card-pokemon .container-info-pokeball .pokeball{
    height: 11rem;
  }

  .card-pokemon .container-info-pokeball .pokeball img {
    width: 11rem;
    height: 11rem;
  }

  .card-pokemon .image-pokemon {
    right: 2rem;    
  }

  .card-pokemon:hover .image-pokemon {    
    right: 2rem;    
  }
}

.card-pokemon .container-info-pokeball .info{
  padding: 1rem;
}

.card-pokemon .container-info-pokeball .info span {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(112, 112, 112);
  display: block;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

.card-pokemon .info h4 {
  color: #fcfcfc;
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.card-pokemon ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.card-pokemon ul li {
  list-style: none;
  padding: 3px;
  border-radius: 3px;
  /* text-transform: capitalize; */
  /* color: #fff; */
}

.card-pokemon ul li img{
  opacity: 0.8;
  width: 2rem;  
}

.normal {
  background-color: #bcbcac;
}

.fighting {
  background-color: #bc5442;
}

.flying {
  background-color: #669aff;
}

.poison {
  background-color: #ab549a;
}

.ground {
  background-color: #debc54;
}

.rock {
  background-color: #bcac66;
}

.bug {
  background-color: #abbc1c;
}

.ghost {
  background-color: #6666bc;
}

.steel {
  background-color: #abacbc;
}

.fire {
  background-color: #ff421c;
}

.water {
  background-color: #2f9aff;
}

.grass {
  background-color: #78cb54;
}

.electric {
  background-color: #ffcd30;
}

.psychic {
  background-color: #ff549a;
}

.ice {
  background-color: #78deef;
}

.dragon {
  background-color: #7866ef;
}

.dark {
  background-color: #785442;
}

.fairy {
  background-color: #ffacff;
}

/* texto no hay resultados */
.container-no-result {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  width: max-content;
  margin: auto;
}

/* container-loading */
.container-loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Loading */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b61818 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal Pokemon */
.modal-pokemon {
  display: none;
  top: 140rem;
  left: 0;
  right: 0;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .modal-pokemon {
    display: block;
    position: fixed;
  }
}

.show-modal {
  top: 0;
}

.details-pokemon {
  background-color: #fff;
  height: 85%;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;

  z-index: 10;
  text-align: center;
}

.btn-close {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.details-pokemon header {
  width: 100%;
  position: relative;
  height: 3rem;
  margin-bottom: 1rem;
}

.details-pokemon header img {
  image-rendering: pixelated;
  width: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.details-pokemon .container-details {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.details-pokemon .container-details::-webkit-scrollbar {
  display: none;
}

.details-pokemon h2 {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.details-pokemon ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin-bottom: 1.5rem;
}

.details-pokemon ul li {
  list-style: none;
  padding: 4px;
  border-radius: 0.5rem;
  text-transform: capitalize;
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 500;
}

.details-pokemon section {
  margin-bottom: 2rem;
}

.details-pokemon .container-description p {
  padding: 1rem;
  font-size: 1.4rem;
  color: #8f9396;

  text-transform: lowercase;
}

.details-pokemon .container-height-wight,
.details-pokemon .container-abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.details-pokemon h4 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.details-pokemon .container-height-wight span,
.details-pokemon .container-abilities span {
  background-color: #f3f3f5;
  display: block;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 1000px) {
  .details-pokemon .container-height-wight span,
  .details-pokemon .container-abilities span {
    padding: 0.5rem 7rem;
  }
}

.details-pokemon .container-stats ul .stat {
  font-weight: 800;
}

.details-pokemon .stat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f6f8fc;
  border-radius: 2rem;
}

.details-pokemon .container-stats ul li:last-child {
  background-color: #88aaea;
}

.stat .stat-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f9aff;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .stat .stat-name {
    font-size: 1.1rem;
    width: 3rem;
    height: 3rem;
  }
}

.details-pokemon ul li:nth-child(1) span {
  background-color: #df2140;
}

.details-pokemon ul li:nth-child(2) span {
  background-color: #ff994d;
}

.details-pokemon ul li:nth-child(3) span {
  background-color: #eecd3d;
}
.details-pokemon ul li:nth-child(4) span {
  background-color: #85ddff;
}
.details-pokemon ul li:nth-child(5) span {
  background-color: #96da83;
}
.details-pokemon ul li:nth-child(6) span {
  background-color: #fb94a8;
}
.details-pokemon ul li:nth-child(7) span {
  background-color: #7195dc;
}

.details-pokemon .container-evolutions ul {
  gap: 0;
}

.details-pokemon .container-evolutions ul .evolution {
  display: flex;
  align-items: center;
}

.details-pokemon .container-evolutions ul .evolution:first-child span {
  display: none;
}

.details-pokemon .container-evolutions ul .evolution span {
  display: flex;
  background-color: #f3f3f5;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 2rem;
}

.details-pokemon .container-evolutions ul .evolution img {
  width: 6.3rem;
}

@media screen and (max-width: 1000px) {
  .details-pokemon .container-evolutions ul .evolution img {
    width: 8rem;
  }
}

/* Aside */
.section-aside {
  position: sticky;
  top: 0;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .section-aside {
    display: none;
  }
}

.container-pokemon-info {
  position: absolute;
  /* background-color: #fff; */
  width: 100%;
  height: 90%;
  top: 0;
  left: 90rem;
  text-align: center;
  border-radius: 3rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.span-select-pokemon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #8f9396;
}

.show-aside {
  left: 0rem;
}

.container-loading-aside {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
